<div class="e-comm-serv--container">
    <div class="e-comm-serv">
  
      <img class="e-comm-serv__shap" src="../../../../assets/img/cod/1/serv/e-comm-shap.svg" alt="">
      <img class="e-comm-serv__img" src="../../../../assets/img/cod/1/serv/e-comm-img.svg" alt="">
      <img class="e-comm-serv__nav" src="../../../../assets/img/cod/1/serv/nav-web-des.svg" alt="">
      <!-- <img class="web-des-serv__text" src="../../../../assets/img/cod/1/serv/text-web-des.svg" alt=""> -->
      <div class="e-comm-serv__text">
        <span class="e-comm-serv__text--header">
          App<br>Development
        </span>
        <p class="e-comm-serv__text--text">
            Mobile websites represent a massive opportunity to take your business to the next level while targeting customers on mobile devices.
  
            Our team plans, designs, and develops stunning mobile websites that will take your business to the next level.
            
            Our mobile websites feature striking mobile web design and fast load times so that your business is sure to impress potential customers who visit your site on their mobile devices.
        </p>
      </div>
    </div>
  </div>