.web-des-serv--container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../../assets/img/cod/1/serv/back-we-des.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.web-des-serv{
    &__shap {
        position: absolute;
        top: 30%;
        right: 0;
        width: 28vw;
        // height: 200px;
    }
    
    &__img {
        position: absolute;
        top: 40%;
        right: 15%;
        width: 33vw;
        // height: 200px;
    }

    &__nav {
        position: absolute;
        top: 10%;
        right: 50%;
        transform: translateX(50%);
        width: 80vw;
        // height: 200px;
    }

    &__text {
        position: absolute;
        top: 35vh;
        left: 8vw;
        width: 37vw;
        // height: 200px;
    }
}
// .web-des-serv{
//     &__shap {
//         position: absolute;
//         top: 30%;
//         right: 0;
//         width: 350px;
//         // height: 200px;
//     }
    
//     &__img {
//         position: absolute;
//         top: 40%;
//         right: 15%;
//         width: 400px;
//         // height: 200px;
//     }

//     &__nav {
//         position: absolute;
//         top: 10%;
//         right: 50%;
//         transform: translateX(50%);
//         width: 80vw;
//         // height: 200px;
//     }

//     &__text {
//         position: absolute;
//         top: 35vh;
//         left: 8vw;
//         width: 500px;
//         // height: 200px;
//     }
// }