<div class="main-cont">
  <div class="back back1">
    <div class="back1--iner">
      <div class="back1--content">
        <div class="back1--text">
          <h2 class="heading">Web Design</h2>
          <span class="text">
            Building a great, well designed, responsive website can unlock enormous revenue potential for your business
            – and we are here to help.

            Powerful, effective web design is so much more than a nice looking design that’s easy on the eyes. Our
            responsive designs make different sites for mobile, tablets, and laptops a thing of the past. Simplify your
            business operations and allow your visitors to interact fluently on various devices.

            Our skilled team of web developers keep up with the latest technologies so that we can provide you with
            advanced, custom and open source solutions which will propel your business to the next level.
          </span>
        </div>
        <!-- <div class="back1--img"
        BScroll1 
        addClass="back1--img_show"
        > -->
        <div class="back1--img"
          appAnimate1
          [classT]="'showL'"
          [classT2]="'hideL'"
        >
          
          <img src="../../../assets/img/cod/1/old/2221.png" alt="">
        </div>

      </div>
    </div>
  </div>


  <div class="back back2">
    <div class="back2--iner">
      <div class="back2--content">
        <div class="back2--text">
          <h2 class="heading">eCommerce Web Design</h2>
          <span class="text">
            eCommerce is our CORE strength. From customization to ERP Integration’s, we have done it all.

            Our eCommerce websites are created with the sole purpose of increasing sales. The goal is to provide users
            with a seamless checkout experience thereby resulting in lesser bounce rate and higher revenue.

            Our eCommerce approach is directed towards increasing your conversions. We listen. build and track to
            ensure that your business goals are met. With a website designed for usability, you will start converting
            more visitors into loyal customers. Let us build your online store and see your sales multiply.
          </span>
        </div>
        <div class="back2--img"
          appAnimate1
          [classT]="'showR'"
          [classT2]="'hideR'"
        >
          
          <img src="../../../assets/img/cod/1/old/banner_header2.png" alt="">
        </div>
      </div>
    </div>
  </div>


  <div class="back back3" (click)="onClick()">
    <div class="back3--iner">
      <div class="back3--content">
        <div class="back3--text">
          <h2 class="heading">Mobile Apps</h2>
          <span class="text">
            Mobile websites represent a massive opportunity to take your business to the next level while targeting
            customers on mobile devices.

            Our team plans, designs, and develops stunning mobile websites that will take your business to the next
            level.

            Our mobile websites feature striking mobile web design and fast load times so that your business is sure to
            impress potential customers who visit your site on their mobile devices.
          </span>
        </div>
        <!-- <div class="back3--img"
        [@scrollReveal]="isHidden ? 'hide' : 'show'"
        > -->
        <div class="back3--img"
          appAnimate1
          [classT]="'showL'"
          [classT2]="'hideL'"
        >
        
          <img src="../../../assets/img/cod/1/old/6661.png" alt="">
        </div>

      </div>
    </div>
  </div>
</div>
